In [1]:
import pandas as pd 
import numpy as np

In [2]:
states = pd.read_csv('state_comparison.csv')
states

       Categorized State  Hidden State
0                      3             3
1                      3             3
2                      3             3
3                      3             3
4                     -3             3
...                  ...           ...
15800                  3             3
15801                  3             3
15802                  3             3
15803                 -3             3
15804                 -3             3

[15805 rows x 2 columns]

In [3]:
output = states['Categorized State']
expected = states['Hidden State']

print(output.value_counts().sort_index(), '\n')
print(expected.value_counts().sort_index())

Categorized State
-3    11858
 3     3785
 4      155
 5        7
Name: count, dtype: int64

Hidden State
3    15805
Name: count, dtype: int64

In [4]:
matched_states = np.sum(expected == output)
matched_within_1_state = np.sum(np.abs(expected - output) <= 1)
print(f'Matched states : {matched_states}; \t Accuracy: {matched_states / len(expected):.2%}')
print(f'Matched within 1 state: {matched_within_1_state}; \t Accuracy within 1 state: {matched_within_1_state / len(states):.2%}')

Matched states : 3785; 	 Accuracy: 23.95%
Matched within 1 state: 3940; 	 Accuracy within 1 state: 24.93%

In [5]:
np.sum(output == -3) / len(output) * 100

np.float64(75.02689022461246)